@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #081b29;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.logo:hover{
    color:#00abf0;
}


.navbar a {
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover{
    color: #00abf0;
}

section{
    width: 100%;
    min-height: 100vh;
}

.home {
    height: 100vh;
    background: url('img/2a.png') no-repeat;
    background-position:right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size:  56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: antiquewhite;
}

.home-content p {
    font-size: 16px;
}

.home_ico {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home_ico a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home_ico a:hover{
    color: black;
}

.home_ico a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home_ico a:hover::before {
    width: 100%;
}

.about {
    height: 100vh;    
    background-position:right;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.nav-link {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}


.about {
    text-align: center;
    background: url('img/port.png') no-repeat; 
    background-position:right;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-color: #2e3436;
}
.tab {
    margin: 0; /* Remover margens padrão dos h3 */
    position: absolute; /* Posição absoluta para alinhamento */
    top: 132%; /* Centralizar verticalmente na metade da altura do pai */
    left: 26%; /* Centralizar horizontalmente na metade da largura do pai */
    transform: translate(-100%, -100%);
}
.Skills {
    margin: 0; /* Remover margens padrão dos h3 */
    position: absolute; /* Posição absoluta para alinhamento */
    top: 120%; /* Centralizar verticalmente na metade da altura do pai */
    left: 80%; /* Centralizar horizontalmente na metade da largura do pai */
    transform: translate(-100%, -100%);
}

.about-exp{
    color: #00abf0;
}

.about-content{
    color: black;
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 0 20px;
    padding: 30px 30px;
    border-radius: 7px;
}

.about-content .skill-box{
    width: 100%;
}

.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.skill-box .skill-bar{
    height: 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.1 );    
}

.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    background-color: #00abf0;
    border-radius: 15px;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.BE {
    width: 40%;
}
.skill-per.FE {
    width: 20%;
}
.skill-per.GP {
    width: 40%
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 0;
    }

    100%{
        opacity: 1;
    }    
}


.skill-per .tolltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 30px;
    background: #4070f4;
    z-index: 1;
}

.tolltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10%;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

.services {
    display: flex;
    justify-content: space-between; 
    position: relative;
    background-color: rgb(32, 31, 31);
    background-position:right;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.services::after{
    content: '';
    position: absolute;
    top: 370px;
    left: 40px;
    display: block;
    height: 4px;
    width: 95%;
    background-color: #00abf0;
}

.services::before{
    content: '';
    position: absolute;
    top: 370px;
    left: 0px;
    display: block;
    border: 2.5px dashed #00abf0;
    width: 100%;
}

.services h2{
    top: 80%;
    left: 80%;
    position: absolute; 
    font-size: 100px;
}

.button-arrow{
    width: 50px;
    height: 50px;
    background-color: #00abf0;
    cursor: pointer;
    border-radius: 10px;
}

.button-arrow .content-services{
    display: none;
}

.button-arrow::before{
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 20px solid transparent;
    border-left: 25px solid white;
    transform: translate(15px);
}

.button-arrow.-left::before{
    transform: rotate(180deg)  translate(15px);
}

.node-card{
    display: inline-flex;
    flex-direction: column;;
    align-items: center;
    position: relative;
}

.node-card::before{
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed #00abf0;
    transform: rotate(90deg) translateX(-173%);
    bottom: 140px;

}

.node-card .title{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: #00abf0;
    margin-bottom: 20px;
}

.node-card span{
    font-size: large;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    border: 2px solid #00abf0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #918484;
    margin: 30px;
    border-radius: 5px;
}

.move-card{
    width: 100%;
    overflow: hidden;
}

.move-card .elements{
    display: flex;
    justify-content: space-between;
    transition: .5s;
}